ody{
  font-family: 'Ubuntu';
  text-align: center;
}

h1, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


/* Navbar */

#brand-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.ab{
  margin: 0 1.5rem 0;
  line-height: 2;
}

.title{
  padding: 0;
  background-color: #5BB318;
  color: white;
}

.navbar-nav {
 margin-left: auto;
}
.navbar-div{
  padding: 1% 6% 2% 8%;
}


.bemorlarButton{
  text-align: center;
  background-color: #5BB318;
}
.bemor-btn{
  margin: 5px;
}



      /* Table style */
.table-content{
  max-height: 600px;
  overflow:auto;
}
.myTableHead{
  background-color: #2B7A0B;
  margin-bottom: auto;
  position: sticky;
  top: 0;
}
.tableFoot{
  background-color: #2B7A0B;
  position: sticky;
  bottom: 0;
}
.deleteImg{
  border: 0;
  background-color: white;
}



/* vrachlar bolimi */
.yozuv{
  font-size: 1.3rem;
  line-height: 2.5;
  color: #2B7A0B;
}
.vrachlarWindow{
  margin: 2% auto 7%;
}


/* log in bolimi */
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* footer */
#footer{
  text-align: center;
  padding: 3% 0 1%;
  background-color: #5BB318;
  margin-top: 0;
}
.socials{
  color: black;
  margin: 10px;
}
.soc{
  margin: 10px;
}
